<br>
<div class="text-center">
  <%= link_to "My reservations", my_reservations_path, action: "reservation_as_client", class: "btn btn-success text-center" %>
  <%= link_to "My performances bookings", my_reservations_requests_path, class: "btn btn-primary" %>
  <%= link_to "My performances", performances_path, class: "btn btn-primary" %>
</div>
<br>
