<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/#"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/#"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/#"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/#"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fa fa-copyright"></i> Creator Team
  </div>
</div>
