<div class="account">
  <p><%= link_to 'My bookings', my_reservations_path%></p>
  <p><%= link_to 'Performances demands', my_reservations_requests_path%></p>
  <p><%= link_to 'My performances', my_performances_path %></p>
</div>

