
      <div class="account">
        <p><%= link_to 'Account', performances_path%></p>
      </div>
      <div class="weddi-block">
        <p>Weddi</p>
        <p><%= link_to 'Bookings', my_reservations_path%></p>
      </div>
      <div class="puppa-block">
        <p>Puppa</p>
        <p><%= link_to 'Reservations', my_reservations_path%></p>
        <p><%= link_to 'My bookings requests', my_reservations_requests_path%></p>
      </div>

