<div class="main-container">
  <div class="left-nav">
    <div class="left-links">
      <%= render 'pages/dashboard-left-nav-bar' %>
    </div>
  </div>
  <div class="body-nav">
    <div class="body-cards">
      <div class="body-card">
        <div class="section">
          <h1>Bookings</h1>
        </div>
        <%= render 'reservations/index', reservations: @reservations %>
      </div>
    </div>
  </div>
  <div class="right-nav">
    <div class="right-cards">
      <div class="right-card">
        <div class="section">
          <h1>Performances</h1>
        </div>
        <div><%= render 'reservations/index', reservations: @reservations %></div>
      </div>
    </div>
  </div>
</div>
