h1 {
  font-size: 38px;
}

.box-select {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #ccc;
  padding: 40px 0px;
  border-radius: 5px;
  color: #ccc;
  &:hover {
    background-color: #eee;
  }
}

.box-select-filled {
  color: green;
  font-size: 18px;
}

.search-form {
  margin-top: 25px;
  margin-bottom: 20px;
}
