.home-banner {
  background-image: url('https://voi.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fvoi.2Fvar.2Fvoi.2Fstorage.2Fimages.2Fmedia.2Fmultiupload-du-10-octobre-2014.2F1-on-a-teste.2F9143511-1-fre-FR.2F1-on-a-teste.2Ejpg/2048x1515/quality/80/on-a-teste-benabar-et-camelia-jordana-en-concert-d-appartement.jpg'), linear-gradient(225deg, rgba(0,91,118,0.6) 0%, rgba(0,36,61,0.6) 50%);
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
  padding-top: 40vh;
  background-position: center;
}

.home-banner span {
   background-color: black;
   line-height: 10px;
}
