.btn-medium-white {
  color: $pink;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  background-color: $white;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: $white;
    background-color: $pink;
  }
}

.btn-medium-pink {
  color: $white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  background-color: $pink;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: $pink;
    background-color: $white;
  }
}

.btn-medium-blue {
  color: $white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  background-color: $purple;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: $purple;
    background-color: $white;
  }
}

.btn-centered {
    text-align: center;
    margin: 69px;
}

.dashboard-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    margin-top: 15px;
    margin-right: 40px;
  }
}
