.btn-medium-white {
  color: #DF017D;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  background-color: white;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #DF017D;
  }
}

.btn-medium-pink {
  color: #FFFFFF;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  background-color: #DF017D;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: #DF017D;
    background-color: #FFFFFF;
  }
}

.btn-medium-blue {
  color: #FFFFFF;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  background-color: #2D245C;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: #2D245C;
    background-color: #FFFFFF;
  }
}
