/*---------------------------- MAIN CARD SECTION ----------------------------*/
.adv-main-card{
  position: relative;
  a.show-backlink  {
    position: absolute;
    bottom: -35px;
    right: 265px;
    color: black;
    opacity: 0.3;
  }
}

.card {
  border-radius: 3px;
  height: 100%;
  color: white;
  position: relative;
  margin: 10px 0;
  box-shadow: 2px 0px 3px rgba(100, 100, 100, 0.4);

  .card-upper-section {
    border-radius: 3px 3px 0px 0px;
  }

  .card-sub-section {
    border-radius: 0px 0px 3px 3px;
  }
}

/*---------------------------- UPPER SECTION ----------------------------*/

.card-upper-section {
  height: 175px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 3px 0;

  p {
    position: absolute;
    right: 5px;
    top: 5px;
    margin: 0 0 0 0;
    background-color: rgba(255, 117, 166, 0.4);
    border-radius: 3px;
    color: rgba(244, 244, 244, 1);
    padding: 5px;
    font-size: 13px;
    width: 30%;
    text-align: center;
    font-weight: lighter;
  }

}

/*---------------------------- SUB-SECTION ----------------------------*/

.card-sub-section {
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 0 3px;
  position: relative;

  h2 {
    font-size: 15px;
    margin: 0;
    position: absolute;
    top: 11px;
    left: 5px;
    color: #484848;
    width: 75%;
  }

  span {
    position: absolute;
    right: 5px;
    top: 11px;
    color: #484848;
    font-weight: lighter;
    font-size: 15px;
  }
}


/*---------------------------- CARD LINK ----------------------------*/

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: rgba(200, 200, 200, 1);
  opacity: 0;

  &:hover {
    opacity: 0.1;
  }

}
