<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <h1>New performance</h1>
      <%= render 'form', performance: @performance%>
      <%= link_to 'Back', performances_path %>
    </div>
  </div>
</div>
