<%= render 'shared/book_form' %>

<div class="btn-grp text-center">
  <%= link_to "Back to performances", performances_path, class: "btn btn-info" %>
  <% if policy(Performance).destroy? %>
    <%= link_to "Edit", edit_performance_path(params[:id]), class: "btn btn-danger" %>
    <%= link_to "Delete", performances_path(@performance), class: "btn btn-danger" %>
  <% end %>
</div>



