<div class="container">
  <h1> <%= @performance.title %> - <%= @performance.price %> €</h1>
  <%= @performance.description %>
  <%= link_to "Back to performances", performances_path, class: "btn btn-success" %>
</div>
