<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <%= render 'shared/adv_card' %>
    </div>
  </div>
</div>

<div class="btn-grp text-center" >
  <% if policy(@performance).edit? %>
    <%= link_to "Edit", edit_performance_path(@performance), class: "btn btn-medium-pink" %>
  <% end %>
  <% if policy(@performance).destroy? %>
    <%= link_to "Delete", performance_path(@performance), method: :delete, class: "btn btn-medium-pink" %>
  <% end %> <br>
  <% if policy(@performance).my_performances? %>
    <%= link_to "Back to my perfromances", my_performances_path, class: "btn btn-medium-white button-performance-show"  %>
  <% end %>
</div>



