<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <%= render 'shared/adv_card' %>
    </div>
  </div>
</div>

<div class="btn-grp text-center">
  <% if policy(Performance).destroy? %>
    <%= link_to "Edit", edit_performance_path(params[:id]), class: "btn btn-medium-pink" %>
    <%= link_to "Delete", performances_path(@performance), class: "btn btn-medium-pink" %>
  <% end %>
</div>



